<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation targetFramework="4.5" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <!-- 
      The default settings for iisnode use 100 connection attempts to the node process with a timeout of 250ms for each attempt. 
      This amounts to a 25 second startup timeout, which is not enough in all cases. We set the maxNamedPipeConnectionRetry to 200 to increase the
      effective startup timeout to 50 seconds.
    -->
    <iisnode devErrorsEnabled="false" loggingEnabled="false" maxNamedPipeConnectionRetry="200" recycleSignalEnabled="true" />
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="favicon">
          <match url="favicon.ico" />
          <action type="CustomResponse" statusCode="404" />
        </rule>
        <!-- Serve a robots.txt file which disallows everything -->
        <rule name="robots" stopProcessing="true">
          <match url="^robots.txt" />
          <action type="Rewrite" url="static/robots.txt" />
        </rule>
        <rule name="landingpage" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="static/default.htm" />
        </rule>
        <!-- This rule allows IIS to serve the /static/content directory natively -->
        <rule name="defaultscripts" stopProcessing="true">
          <match url="^content/(.*)" />
          <action type="Rewrite" url="static/content/{R:1}" />
        </rule>
        <!-- This rule allows IIS to serve the /static/client directory natively -->
        <rule name="client" stopProcessing="true">
          <match url="^client/(.*)" />
          <action type="Rewrite" url="static/client/{R:1}" />
        </rule>
        <!-- This rule routes everything to app.js, except for direct
             requests to app.js, as in /app.js/debug node debugging. -->
        <rule name="app">
          <match url="/*" />
          <action type="Rewrite" url="app.js" />
        </rule>
      </rules>
    </rewrite>
    <monitoring>
      <triggers>
        <statusCode>
          <!--
            We're configuring recycles for a set of specific error codes we see regularly in
            production. We choose a time interval that will ensure we handle these errors and
            recycle even if the only traffic the site is receiving is our SLA runner traffic.
            In such cases, the site might only be receiving requests on the order of 1 per minute,
            but we still want to heal the site if it gets into a bad state (to avoid generating alerts).
          
            http://msdn.microsoft.com/en-us/library/windows/desktop/ms681382(v=vs.85).aspx#ERROR_PIPE_BUSY
            ERROR_PIPE_BUSY = 231 (0xE7)
            Due to a bug in Antares we'll not be using win32StatusCode="231" attribute to specify ERROR_PIPE_BUSY as subStatusCode is specific enough
            
            https://github.com/Azure/iisnode/blob/master/src/iisnode/cnodeconstants.h#L35
            IISNODE_ERROR_PIPE_CONNECTION_TOO_BUSY = 1003
          -->
          <add statusCode="503" subStatusCode="1003" count="2" timeInterval="00:03:00" />
          <!--IISNODE_ERROR_PIPE_CONNECTION = 1001-->
          <add statusCode="500" subStatusCode="1001" count="2" timeInterval="00:03:00" />
          <!--IISNODE_ERROR_PIPE_CONNECTION_BEFORE_PROCESS_TERMINATED = 1002-->
          <add statusCode="500" subStatusCode="1002" count="2" timeInterval="00:03:00" />
        </statusCode>
      </triggers>
      <actions value="Recycle" />
    </monitoring>
  </system.webServer>
  <location path="runtime">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <!-- The below settings are for local testing only. The web config transforms remove all of
       these settings when the deploy package is built, since placeholder setting values
       arent needed in Antares -->
  <appSettings>
    <!-- This setting must remain, so the package process can set the version -->
    <add key="RuntimeVersion" value="Zumo.master.0.1.6.4479.Runtime" />
  </appSettings>
</configuration>